{{>head}}

   {{> navbar }}

<div class="row">

    <div class= "col-8">
        <h1>
            Imagen
        </h1>
        <p>Texto de relleno</p>
    </div>
<div class="col-4">
<img src="assets/img/img1.jpg" class="img-thumbnail">
</div>

</div>


{{>footer}}
